<div class="container-fluid">

  <!-- Reporte de la cantidad de naves -->
  <div class="row report">
    <div class="col-12 text-center">
      <h3 class="total-starships">Total Starships</h3>
      <p class="starship-description">Currently in our fleet: {{ starships.length }}</p>
    </div>
  </div>

  <!-- Listado de naves -->
  <div class="row">

    <!-- Se recorre el arreglo de naves y se muestra la información -->
    <div class="col" *ngFor="let starship of starships">
      <div class="card text-white mb-4 hover-card">
        <div class="card-body">
          <h5 class="card-title">{{starship.name}}</h5>
          <p class="card-text">{{starship.model}}</p>
        </div>
      </div>
    </div>
    <!-- Fin del recorrido -->
  </div>
</div>
