<!-- Header -->
<header class="bg-dark">
  <img src="/assets/images/Galactic_Empire_Logo.png" alt="Galactic Empire Logo" class="header-image" />
  <h4 class="header-title">Galactic Empire Report</h4>
</header>

<div class="container-fluid">
  <div class="row background-filters">
    <div class="col-2">
      <!-- TODO -->
    </div>
    <div class="col-10 background-ships">
      <!-- Se utiliza el selector del listado de naves  -->
      <app-starship-list></app-starship-list>
    </div>
  </div>
</div>
