<!-- Header -->
<header>
  <img src="/assets/images/Galactic_Empire_Logo.png" alt="Galactic Empire Logo" class="header-image" />
  <h4 class="header-title">Galactic Empire Report</h4>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col background-ships">
      <!-- Se utiliza el selector del listado de naves  -->
      <app-starship-list></app-starship-list>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer">
  <div class="footer-copyright text-center py-2 bg-dark">.
  </div>
</footer>
